[run]
branch = True
source = diffupath
omit =
    src/diffupath/__main__.py
    src/diffupath/cli.py
    tests/*
    docs/*

[paths]
source =
    src/diffupath
    .tox/*/lib/python*/site-packages/diffupath

[report]
show_missing = True
exclude_lines =
    def __str__
    def __repr__
